<nav class="navbar">
  <ul class="nav navbar-nav">
    <li><a href="{{ SITEURL }}/charte.html">Charte du collectif</a></li>
    <li><a href="{{ SITEURL }}/mentions-legales.html">Mentions legales</a></li>
  </ul>
  <p class="copyright text-muted navbar-right navbar-text">
      Powered by <a href="http://getpelican.com">Pelican</a>.
  </p>

</nav>
